#lights {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    /* Ensure it stays behind everything */
    pointer-events: none;
    /* Let clicks pass through */
}

canvas {
    width: 100%;
    height: 100%;
}